body {
  /*this is the background gradient code from www.gradientmagic.com */
  background: linear-gradient(
      307deg,
      transparent 0%,
      transparent 10%,
      rgba(171, 174, 137, 0.4) 10%,
      rgba(171, 174, 137, 0.4) 64%,
      transparent 64%,
      transparent 100%
    ),
    linear-gradient(
      118deg,
      transparent 0%,
      transparent 11%,
      rgba(171, 174, 137, 0.4) 11%,
      rgba(171, 174, 137, 0.4) 31%,
      transparent 31%,
      transparent 100%
    ),
    linear-gradient(
      73deg,
      transparent 0%,
      transparent 22%,
      rgba(171, 174, 137, 0.4) 22%,
      rgba(171, 174, 137, 0.4) 90%,
      transparent 90%,
      transparent 100%
    ),
    linear-gradient(
      156deg,
      transparent 0%,
      transparent 51%,
      rgba(171, 174, 137, 0.4) 51%,
      rgba(171, 174, 137, 0.4) 97%,
      transparent 97%,
      transparent 100%
    ),
    linear-gradient(90deg, rgb(71, 72, 56), rgb(71, 72, 56));
  background-repeat: no-repeat; /*This ensures that only a single copy of the background is created regardless of the size of the screen*/
  background-attachment: fixed; /*This ensures that the background stays fixed on the screen as the individual scrolls through the written content*/
  background-position: center; /*This ensures that the background is centred on the device so that the shadowlines and colours are simillar and relatable across different viewing devices*/
  background-size: cover; /*This ensures that the background covers the entire canvas of the screen regardless of discrepencies in sizes of the device upon which it will be viewed*/
}
