/* ---- General ---- */
/* relatively position header image inside header element using CSS here */
.hero-image {
  margin: 150px auto;
  width: 70%;
  text-align: center;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.header-content {
  text-align: center;
  justify-content: inline;
  padding: 2rem;
  padding: 2rem;
}

#header-image {
  float: left;
  margin-left: 15px;
}

body {
  background-color: rgb(241, 241, 241);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
  align-items: center;
  padding: 2rem;
}

/* ---- Back to top ---- */

#back-to-top > button {
  background-color: rgb(198, 156, 78);
  border-radius: 50%;
  border: solid 1px rgb(198, 156, 78);
  width: 50px;
  height: 50px;
}
#back-to-top:hover > button {
  border: solid 1px rgb(198, 156, 78);
  background-color: white;
}
#back-to-top > button {
  text-decoration: none;
  color: whitesmoke;
}
#back-to-top:hover > button {
  text-decoration: none;
  color: rgb(198, 156, 78);
}

/* ---- Nav --- */

#navbar {
  background-color: rgb(23, 23, 23);
  color: white;
  text-align: center;
  z-index: 1;
}

.nav-link {
  text-decoration: none;
  color: white;
  margin: 0 4vw;
}

.nav-link:hover {
  color: rgb(219, 191, 63);
  text-decoration: none;
}
button:hover {
  background-color: rgb(219, 191, 63);
  text-decoration: none;
}

/* ---- header ----- */

#top {
  background-color: rgb(47, 50, 60);
  color: whitesmoke;
  padding: 2rem;
  padding-bottom: 4rem;
  height: 25vh;
}

/* ---- Content ----- */

.service {
  padding: 2rem;
  display: flex;
  margin: 2rem;
}
.service:nth-child(even) {
  background-color: rgb(46, 67, 112);
  color: whitesmoke;
}
.service h3 {
  padding: 1rem;
}

/* ---- About ----- */

#about {
  margin-top: 4rem;
}

#about-content {
  padding: 0 15vw;
}

#footer {
  margin-top: 4rem;
  background-color: rgb(23, 23, 23);
  color: whitesmoke;
  text-align: center;
  padding: 2rem;
}

/* 
        Write CSS here to ensure that the back to top button is fixed to the 
        bottom right hand side of the screen 
    */
#back-to-top {
  position: fixed;
  bottom: 80px;
  right: 80px;
}

/* Write CSS here to make navbar sticky to the top of the page */
#navbar {
  position: sticky;
  top: 0px;
}

section {
  margin: 2rem;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 10px;
    padding: 1rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  article {
    font-size: medium;
  }
  h1 {
    font-size: 42px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 16px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  h1 {
    font-size: 54px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 20px;
  }
}
